# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Media (optional for now)
media/

# Static files(generated during deployment)
staticfiles/

# Test cache
.pytest_cache/

# Type checker cache
.mypy_cache/